:root {
  --primary-color: #8064a2;
  --secondary-color: #f7f5f9;
  --gray-color: #939ca3;
  --green-color: #77933c;
  --red-color: #c0504d;
  --blue-color: #0096c8;
}

.para {
  font-size: 18px;
  line-height: 1.8;
}

.heading {
  font-size: 36px;
  line-height: 2.6;
}

.scroll_container {
  position: absolute;
  top: 28%;
  right: 30px;
}

.scroll_btn {
  box-shadow: 0px 0px 8px #939ca35c;
  transition: all;
  transition-duration: 0.3s;
  color: #939ca3;
}

.scroll_btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.option {
  font-size: 16px;
}

@media screen and (max-width: 648px) {
  .para {
    font-size: 12px;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
  }

  .heading {
    font-size: 18px;
    line-height: 1.2;
  }
  .option {
    font-size: 14px;
  }
}

@media screen and (min-width: 648px) and (max-width: 1000px) {
  .para {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
  }
  .btn_custome {
    width: 100%;
  }
  .heading {
    font-size: 28px;
    line-height: 1.4;
  }
  .scroll_container {
    top: 20%;
    right: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1128px) {
  .para {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
  }
  .btn_custome {
    width: 100%;
  }

  .heading {
    font-size: 32px;
    line-height: 1.6;
  }
  .scroll_container {
    top: 20%;
    right: 30px;
  }
}
